<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Help</title>
</head>

<body>
    <center>
        <h1>About Us</h1>
    </center>
    <div class="content">
        <p>Thankyou for visiting the About Us page.<p>
                <p>We came across this idea when I was searching for calculas lecture video , as like every person I
                    went on Youtube but as soon as i opened app
                    I got distracted by other videos which youtube had recommended me, in this way I wasted my 2 hours
                    watching some random videos.
                    After wasting my time I remembered I had came here for study what am I doing?
                    Then this idea clicked inside my mind if there are website like LinkedIn that seperates professional
                    work from other stuff.
                    Then why educational content and entertainment content is on same platform.
                    We know that Youtube is the biggest platform that contains most of eductional videos, so with the
                    help of AcadMe platform
                    We had tried to bring this educational content from youtube to our Platform so that students can
                    learn without any distractions,
                    not only this we had also brought notes and books as pdf so that this website can be one stop
                    platform for all the educational content.
                    We have given feature of upvotes and downvotes so that best of the content can be filtered out.
                    AcadMe is for the students,by the students and to the students.
                    <p>This project was made during hackthon NITP 4.0 in 2 days organised by NIT Patna</p>
                </p>
    </div>

    <center>
        <h1>Our Team Members</h1>
    </center>
    <div class="photos">
        <div class="card">
            <h1>Shazeb Khan</h1>
            <div class="img-store">
                <img src="/images/Shazeb.jpg">
            </div>
            <a href="https://www.linkedin.com/in/shazeb-khan-52a806229">LinkedIn</a>
            <a href="https://github.com/Shazeb-Khan">Github</a>
        </div>
        <div class="card">
            <h1>Harsh Upadhyay</h1>
            <div class="img-store">
                <img src="/images/harsh.jpg">
            </div>
            <a href="http://linkedin.com/in/harsh-upadhyay-b801a01b4">LinkedIn</a>
            <a href="https://github.com/Harsh-technobot">Github</a>
        </div>
        <div class="card">
            <h1>Lalit Singh</h1>
            <div class="img-store">
                <img src="/images/lalit.jpg">
            </div>
            <a href="https://www.linkedin.com/in/lalit-kumar-singh-b48523228">LinkedIn</a>
            <a href="https://github.com/Lalit3716">Github</a>
        </div>
        <div class="card">
            <h1>Faiz Khan</h1>
            <div class="img-store">
                <img src="/images/faiz.jpg">
            </div>
            <a href="https://www.linkedin.com/in/faiz-khan-4793731ba">LinkedIn</a>
            <a href="https://github.com/FaizFk">Github</a>
        </div>
    </div>
</body>

</html>